<ul class="nav rounded nav-pills">
  <li class="nav-item">
      <a class="nav-link" routerLink="prestaciones" [routerLinkActive]="['active']" >Prestaciones</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="beneficiarios" [routerLinkActive]="['active']">Beneficiarios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="modulo-alimentar" [routerLinkActive]="['active']">Módulo Alimentar</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="estadisticas" [routerLinkActive]="['active']">Estadísticas</a>
  </li>
</ul>
