<ul class="nav rounded nav-pills">
  <li class="nav-item">
      <a class="nav-link" routerLink="prestaciones" [routerLinkActive]="['active']" >Prestaciones</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="beneficiarios" [routerLinkActive]="['active']">Beneficiarios</a>

  </li>
  <!-- <li class="nav-item">
      <a class="nav-link" routerLink="tabla-goleadores" [routerLinkActive]="['active']">Tabla de goleadores</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="lista-equipos" [routerLinkActive]="['active']">Equipos</a>
  </li> -->
</ul>
