<div class="row m-1">
  <div class="col-md-12" [formGroup]="permisosForm">
    <div class="row" >
      <div class="form-group col-md-12">
        <label for="rol" class="prioridad">Programa/s:</label>
        <select class="form-control" id="rol" formControlName="programaid" (change)="setPermisosDefault($event.target.value)">
          <option value="">Seleccione un Programa</option>
          <option *ngFor="let programa of listaProgramas" value="{{programa.id}}">{{programa.nombre}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="permisos">Permiso/s:</label>
      <ng-select [items]="listaPermisos"
        bindLabel="name"
        placeholder="Seleccione uno o varios permiso/s."
        appendTo="body"
        multiple="true"
        [(ngModel)]="permisosSeleccionados">
      </ng-select>
    </div>
  </div>
  <div class="col-md-12">
    <button type="button" class="btn btn-success btn-block" (click)="validarDatos()"><i class="far fa-save"></i> Guardar</button>
  </div>
  <div class="col-md-12 mt-1 mb-2">
    <admin-programa-permiso-tabla [listaProgramaPermisos]="listaProgramaPermisos"></admin-programa-permiso-tabla>
  </div>
</div>
