<div class="row m-3">
  <div class="form-group col-md-6">
    <label for="permisos">Programa/s:</label>
    <ng-select [items]="listaProgramas"
             bindLabel="nombre"
             placeholder="Seleccione uno o varios Programa/s."
             appendTo="body"
             multiple="true"
             [(ngModel)]="programsSeleccionados">
    </ng-select>
  </div>
  <div class="form-group col-md-6">
    <label for="permisos">Permiso/s:</label>
    <ng-select [items]="listaPermisos"
              placeholder="Seleccione uno o varios permiso/s."
              appendTo="body"
              multiple="true"
              [(ngModel)]="permisosSeleccionados">
    </ng-select>
  </div>
</div>
