<form [formGroup]="redSocial">
    <div class="form-group input-group">
        <!-- <label for="tipo_red_social">Tipo Red Social</label> -->
        <select class="form-control input-group-prepend maximo-ancho" id="tipo_red_social" formControlName="tipo_red_socialid">
            <option value="">Seleccione tipo de red social</option>
            <option *ngFor="let tipoRedSocial of tipoRedSocialLista" value="{{tipoRedSocial.id}}" >{{tipoRedSocial.nombre}}</option>
          </select>
          <input type="text" class="form-control border-radius-final" id="perfil" placeholder="Ej: https://wwww.facebook.com/anibal.fernandez o anibal.fernandez" formControlName="perfil">
    </div>
</form>
