<div class="form-group">
    <div class="input-group">
      <input type="text" #buscarPersona class="form-control" [(ngModel)]="busqueda" placeholder="Buscar por DNI, Nombre, Apellido" (keyup.enter)="actualizarBusqueda(busqueda)">
      <div class="input-group-append btn-group">
        <button type="button" class="btn btn-primary" (click)="actualizarBusqueda(busqueda)" ngbTooltip="Buscar beneficiario" ><i class="fas fa-search"></i></button>
        <button type="button" class="btn btn-danger" ngbTooltip="Limpiar búsqueda" (click)="limpiarBusqueda()" ><i class="fas fa-trash-alt"></i></button>
        <modal-form-persona-component class="btn-group" ngbTooltip="Agregar beneficiario" [configModal]="configModal" [disenioBoton]="botonAgregar" (obtenerPersona)="personaCreada($event)"></modal-form-persona-component>
      </div>
    </div>
  </div>
  <div class="row pl-3 pr-3">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Nro. Documento</th>
          <th scope="col">Apellido y nombre</th>
          <th class="text-center" scope="col">Dirección / Contacto</th>
        </tr>
      </thead>
      <tbody *ngIf="(listaPersonas.length == 0)">
        <tr>
          <td rowspan="1" colspan="4" class="text-center"> <h5>No se han encontrado resultado.</h5> </td>
        </tr>
      </tbody>
      <tbody *ngIf="(listaPersonas.length > 0)">
        <tr *ngFor="let persona of listaPersonas" (click)="seleccionarPersona(persona.id, persona)" container="body" ngbTooltip="Seleccionar">
          <td scope="row">{{persona.nro_documento}}</td>
          <td >
            {{persona.apellido}}, {{persona.nombre}}
          </td>
          <td class="text-center">
            <div class="btn-group">
              <button *ngIf="(persona.lugar != undefined)" ngbTooltip="{{direccion(persona.lugar)}}" container="body" type="button" class="btn btn-sm btn-light"><i class="fas fa-home"></i></button>
              <button *ngIf="(persona.telefono != '')" ngbTooltip="{{persona.telefono}}" container="body" type="button" class="btn btn-sm btn-light"><i class="fas fa-phone"></i></button>
              <button *ngIf="(persona.celular != '')" ngbTooltip="{{persona.celular}}" container="body" type="button" class="btn btn-sm btn-light"><i class="fas fa-mobile-alt"></i></button>
              <button *ngIf="(persona.email != '')" ngbTooltip="{{persona.email}}" container="body" type="button" class="btn btn-sm btn-light"><i class="fas fa-envelope"></i></button>
              <div *ngIf="((persona.lista_red_social) && persona.lista_red_social.length > 0 )">
                <a *ngFor="let redSocial of persona.lista_red_social" href="{{redSocial.perfil}}" target="_blank" ngbTooltip="{{redSocial.tipo_red_social}}" class="btn btn-sm btn-light"><i class="{{redSocial.icono_class}}"></i></a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    <div class=" d-flex justify-content-center">
        <ngb-pagination *ngIf="(colleccionSize > 0)"  [collectionSize]="colleccionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(page)" aria-label="Default pagination"></ngb-pagination>
    </div>
