<form [formGroup]="formPersona">
  <fieldset >
    <div class="d-flex justify-content-between">
      <div class="col-4 pt-1"><hr></div>
      <div class="col-4 text-center"><h3><small class="text-muted">Datos Personales</small></h3></div>
      <div class="col-4 pt-1"><hr></div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label for="nro_documento" class="prioridad">Nro. documento (<span>*</span>):</label>
            <div class="input-group">
                <input type="text" id="nro_documento" class="form-control" formControlName="nro_documento" minlength="7" maxlength="8" placeholder="Ej.: 23123987"
                 (keyup)="soloNumero($event.target)" (change)="validarCuil($event.target.value)" [ngClass]="{'is-invalid': (formPersona.get('nro_documento').invalid && submitted)}">
            </div>
            <div *ngIf="(formPersona.get('nro_documento').invalid && submitted)" class="text-danger">
                <div *ngIf="formPersona.get('nro_documento').hasError('required')">Este campo es requerido. </div>
                <div *ngIf="formPersona.get('nro_documento').hasError('minlength')">El número de documento debe tener al menos 7 digitos.</div>
                <div *ngIf="formPersona.get('nro_documento').hasError('maxlength')">El número de documento no puede tener mas de 8 digitos.</div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="form-agente-cuil" class="prioridad">Cuil (<span>*</span>):</label>
            <div class="input-group">
                <input class="form-control input-cuil-number" type="text" placeholder="##" formControlName="cuil_prin" maxlength="2"
                (change)="armarCuil()" (keyup)="soloNumero($event.target)" [ngClass]="{'is-invalid': (formPersona.get('cuil_prin').invalid && submitted)}">
                <div class="input-group-addon div-cuil-num-center">{{cuil_medio}}</div>
                <input class="form-control input-cuil-number" type="text" placeholder="#" formControlName="cuil_fin" maxlength="1"
                (change)="armarCuil()" (keyup)="soloNumero($event.target)" [ngClass]="{'is-invalid': (formPersona.get('cuil_fin').invalid && submitted)}">
                <div *ngIf="(formPersona.get('cuil_prin').invalid && submitted)" class="text-danger">
                    <div *ngIf="formPersona.get('cuil_prin').hasError('required')">Este campo es requerido. </div>
                </div>
                <div *ngIf="(!formPersona.get('cuil_prin').invalid && formPersona.get('cuil_fin').invalid && submitted)" class="text-danger">
                    <div *ngIf="formPersona.get('cuil_fin').hasError('required')">Este campo es requerido. </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="apellido" class="prioridad">Apellido (<span>*</span>):</label>
            <input type="text" id="apellido" placeholder="Apellido" class="form-control" formControlName="apellido" [ngClass]="{'is-invalid': (formPersona.get('apellido').invalid && submitted)}">
            <div *ngIf="(formPersona.get('apellido').invalid && submitted)"
                class="text-danger">
                <div *ngIf="formPersona.get('apellido').hasError('required')">Este campo es requerido. </div>
                <div *ngIf="formPersona.get('apellido').hasError('minlength')">El apellido es muy corto.</div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="nombre" class="prioridad">Nombre (<span>*</span>):</label>
            <input type="text" id="nombre" placeholder="Nombre" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': (formPersona.get('nombre').invalid && submitted)}">
            <div *ngIf="(formPersona.get('nombre').invalid && submitted)"
                class="text-danger">
                <div *ngIf="formPersona.get('nombre').hasError('required')">Este campo es requerido. </div>
                <div *ngIf="formPersona.get('nombre').hasError('minlength')">El nombre es muy corto.</div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="fecha_nacimiento" class="prioridad">Fecha nacimiento (<span>*</span>):</label>
            <div class="input-group">
                <input class="form-control" #c1 placeholder="Ej.: dd/mm/yyyy" ngbDatepicker #fpd="ngbDatepicker"
                id="fecha_nacimiento" formControlName="fechaNacimiento" (ngModelChange)="formatFechaNacimiento($event)" [ngClass]="{'is-invalid': (formPersona.get('fechaNacimiento').invalid && submitted)}">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" (click)="fpd.toggle()" type="button"
                        [ngClass]="{'btn-outline-danger': (formPersona.get('fechaNacimiento').invalid && submitted), 'is-invalid': (formPersona.get('fechaNacimiento').invalid && submitted)}">
                        <span class="oi oi-calendar" title="Fecha nacimiento" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div *ngIf="(formPersona.get('fechaNacimiento').invalid && submitted)" class="text-danger">
                <div *ngIf="formPersona.get('fechaNacimiento').hasError('required')">Este campo es requerido. </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="estado_civil" class="prioridad">Estado civil (<span>*</span>):</label>
            <select class="form-control" id="estado_civil" formControlName="estado_civilid" [ngClass]="{'is-invalid': (formPersona.get('estado_civilid').invalid && submitted)}">
                <option value="">Seleccione Estado civil</option>
                <option *ngFor="let estadoCivil of estadoCivilLista" value="{{estadoCivil.id}}">{{estadoCivil.nombre}}</option>
            </select>
            <div *ngIf="(formPersona.get('estado_civilid').invalid && submitted)"
                class="text-danger">
                <div *ngIf="formPersona.get('estado_civilid').hasError('required')">Por favor Seleccione estado civil. </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="sexo" class="prioridad">Sexo (<span>*</span>):</label>
            <select class="form-control" id="sexo" formControlName="sexoid" [ngClass]="{'is-invalid': (formPersona.get('sexoid').invalid && submitted)}">
                <option value="">Seleccione Sexo</option>
                <option *ngFor="let sexo of sexoLista" value="{{sexo.id}}">{{sexo.nombre}}</option>
            </select>
            <div *ngIf="(formPersona.get('sexoid').invalid && submitted)" class="text-danger">
                <div *ngIf="formPersona.get('sexoid').hasError('required')">Por favor Seleccione sexo. </div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="genero" class="prioridad">Género (<span>*</span>):</label>
            <select class="form-control" id="genero" formControlName="generoid" [ngClass]="{'is-invalid': (formPersona.get('generoid').invalid && submitted)}">
                <option value="">Seleccione Género</option>
                <option *ngFor="let genero of generoLista" value="{{genero.id}}">{{genero.nombre}}</option>
            </select>
            <div *ngIf="(formPersona.get('generoid').invalid && submitted)"
                class="text-danger">
                <div *ngIf="formPersona.get('generoid').hasError('required')">Por favor Seleccione género. </div>
            </div>
        </div>
      </div>
    <shared-form-contacto [formContacto]="formPersona.get('contacto')" [listaRedSocial]="listaRedSocial" ></shared-form-contacto>
    <shared-form-lugar [submitted]="submitted" [formLugar]="formPersona.get('lugar')" ></shared-form-lugar>

    <hr class="pt1">

    <div class="float-right">
        <button type="button" class="btn btn-danger" (click)="cancelar()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button>&nbsp;
        <button type="button" class="btn btn-success" (click)="validarPersona()" ><span class="fas fa-save" title="Guardar" aria-hidden="true"></span> Guardar</button>
    </div>

  </fieldset>
</form>
