
.app-login
    position: fixed
    top: 0
    left: 0
    background-image: url("../../assets/img/01.jpg")
    background-repeat: no-repeat
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    width: 100%
    height: 100%
    overflow: auto

.form-signin
  width: 400px
  //border: 1px solid #cccccc
  background: #a4cd7e
  padding: 10px
  border-radius: 18px
  -webkit-border-radius: 18px
  -moz-border-radius: 18px
  box-shadow: 0px 2px 23px rgba(150, 150, 150, 0.95)
