<ngb-tabset>
  <ngb-tab title="Prestaciones">
    <ng-template ngbTabContent>
      <div class="mt-2 bg-white p-3 rounded">
        <busqueda-recurso (obtenerBusqueda)="buscar($event)" ></busqueda-recurso>
        <lista-recurso [recursosLista]="recursosLista" [configPaginacion]="configPaginacion" (cambioDePagina)="cambioPagina($event)" ></lista-recurso>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Beneficiarios">
    <ng-template ngbTabContent>
      <lista-beneficiario></lista-beneficiario>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
