<div class="modal-header">
    <h4 class="modal-title">Dar baja prestación</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formBaja">
        <div class="form-group">
            <label for="fecha_baja" class="prioridad">Fecha de baja (<span>*</span>):</label>
            <div class="input-group">
                <input class="form-control" #c1 placeholder="dd/mm/yyyy" ngbDatepicker #fpd="ngbDatepicker"
                id="fecha_baja" formControlName="fechaBaja" (ngModelChange)="FormatFecha($event)" [ngClass]="{'is-invalid': (form.fechaBaja.invalid && submitted)}">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" (click)="fpd.toggle()" type="button"
                        [ngClass]="{'btn-outline-danger': (form.fechaBaja.invalid && submitted), 'is-invalid': (form.fechaBaja.invalid && submitted)}">
                        <span class="oi oi-calendar" title="Dirección" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div *ngIf="(formBaja.get('fechaBaja').invalid && submitted)" class="text-danger">
                <div *ngIf="formBaja.get('fechaBaja').hasError('required')">Por favor, ingrese una fecha. </div>
            </div>
        </div>
        <div class="form-group">
            <label for="observacion">Descripción (<span>*</span>):</label>
            <textarea class="form-control" id="descripcion" cols="20" rows="3" placeholder="Descripcion..." formControlName="descripcion_baja" [ngClass]="{'is-invalid': (formBaja.get('descripcion_baja').invalid && submitted)}"></textarea>
            <div *ngIf="(formBaja.get('descripcion_baja').invalid && submitted)" class="text-danger">
              <div *ngIf="formBaja.get('descripcion_baja').hasError('required')">Por favor, ingrese una descripción. </div>
              <div *ngIf="formBaja.get('descripcion_baja').hasError('minlength')">La descripción es muy corta. </div>
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="cancelar()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button>
    <button type="button" class="btn btn-success" (click)="confirmar()"><i class="fa fa-arrow-down"></i> Baja</button>
  </div>
