<div class="modal-header">
    <h4 class="modal-title">Acreditar prestación</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formAcreditar">
        <div class="form-group">
            <label for="fecha_acreditacion" class="prioridad">Fecha acreditación (<span>*</span>):</label>
            <div class="input-group">
                <input class="form-control" #c1 placeholder="dd/mm/yyyy" ngbDatepicker #fpd="ngbDatepicker"
                id="fecha_acreditacion" formControlName="fechaAcreditacion" (ngModelChange)="FormatFecha($event)" [ngClass]="{'is-invalid': (formAcreditar.get('fechaAcreditacion').invalid && submitted)}">
                <div class="input-group-append">
                    <button class="btn btn-outline-info" (click)="fpd.toggle()" type="button"
                        [ngClass]="{'btn-outline-danger': (formAcreditar.get('fechaAcreditacion').invalid && submitted), 'is-invalid': (formAcreditar.get('fechaAcreditacion').invalid && submitted)}">
                        <span class="oi oi-calendar" title="Dirección" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div *ngIf="(formAcreditar.get('fechaAcreditacion').invalid && submitted)" class="text-danger">
                <div *ngIf="formAcreditar.get('fechaAcreditacion').hasError('required')">Por favor, ingrese una fecha. </div>
            </div>
        </div>
        <fieldset *ngIf="recursoCuota.cuota">
          <div class="d-flex justify-content-center mt-3">
            <table class="table table-sm col-6">
              <tbody>
                <tr>
                  <th class="text-left">Monto total:</th>
                  <td class="text-right">{{recursoCuota.monto | currency:'USD':'symbol-narrow':'2.2'}}</td>
                </tr>
                <tr>
                  <th class="text-left">Acreditado:</th>
                  <td class="text-right text-success">{{recursoCuota.monto_acreditado | currency:'USD':'symbol-narrow':'2.2'}}</td>
                </tr>
                <tr>
                  <th class="text-left">Sin acreditar:</th>
                  <td class="text-right">{{recursoCuota.monto_resto | currency:'USD':'symbol-narrow':'2.2'}}</td>
                </tr>
                <tr>
                  <th class="text-left">Nro Cuota:</th>
                  <td class="text-right">{{recursoCuota.cant_cuota}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group">
            <label for="monto_mensual" class="prioridad">Monto de la cuota</label>
            <input type="text" class="form-control" formControlName="monto_mensual" placeholder="Ej.: 5000.00">
          </div>
        </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="cancelar()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button>
    <button type="button" class="btn btn-success" (click)="guardar()"><i class="fas fa-hand-holding-usd"></i> Acreditar</button>
  </div>
