<div class="d-flex justify-content-between">
  <div class="col-5 pt-1"><hr></div>
  <div class="col-2 text-center"><h3><small class="text-muted">Dirección</small></h3></div>
  <div class="col-5 pt-1"><hr></div>
</div>
<div class="row" [formGroup]="lugar">
    <div class="form-group col-md-4">
        <label for="localidad" class="prioridad">Localidad (<span>*</span>):</label>
        <select class="form-control" id="localidad" formControlName="localidadid" [ngClass]="{'is-invalid': (lugar.get('localidadid').invalid && submitted)}">
                <option value="">Seleccione Localidad</option>
                <option *ngFor="let localidad of localidadLista" value="{{localidad.id}}">{{localidad.nombre}}</option>
            </select>
        <div *ngIf="(lugar.get('localidadid').invalid && submitted)" class="text-danger">
            <div *ngIf="lugar.get('localidadid').hasError('required')">Por favor Seleccione localidad. </div>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label for="calle" class="prioridad">Calle (<span>*</span>):</label>
        <input type="text" id="calle" placeholder="Ej.: Río de los sauces" class="form-control" formControlName="calle" [ngClass]="{'is-invalid': (lugar.get('calle').invalid && submitted)}">
        <div *ngIf="(lugar.get('calle').invalid && submitted)" class="text-danger">
            <div *ngIf="lugar.get('calle').hasError('required')">Este campo es requerido. </div>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label for="altura" class="prioridad">Altura (<span>*</span>):</label>
        <input type="text" id="altura" placeholder="Ej.: 345" class="form-control" formControlName="altura" [ngClass]="{'is-invalid': (lugar.get('altura').invalid && submitted)}">
        <div *ngIf="(lugar.get('altura').invalid && submitted)" class="text-danger">
            <div *ngIf="lugar.get('altura').hasError('required')">Este campo es requerido. </div>
        </div>
    </div>
    <div class="form-group col-md-3">
        <label for="barrio" class="prioridad">Barrio:</label>
        <input type="text" id="barrio" placeholder="Ej.: Inalauquen" class="form-control" formControlName="barrio">
    </div>
    <div class="form-group col-md-3">
        <label for="escalera">Escalera/Modulo:</label>
        <input type="text" id="escalera" placeholder="Ej.: 4" class="form-control" formControlName="escalera">
    </div>
    <div class="form-group col-md-3">
        <label for="piso">Piso:</label>
        <input type="text" id="piso" placeholder="Ej.: 1°" class="form-control" formControlName="piso">
    </div>
    <div class="form-group col-md-3">
        <label for="departamento">Departamento:</label>
        <input type="text" id="departamento" placeholder="Ej.: B o 3" class="form-control" formControlName="depto">
    </div>
</div>
