<div class="shadow-sm mt-2 mb-3 bg-white p-3 rounded">
  <busqueda-modulo-alimentar [localidades]="listaLocalidades" [tipoResponsables]="listaTipoResponsables" [delegaciones]="listaDelegaciones" [municipios]="listaMunicipios" [comisionesDeFomentos]="listaComisionesDeFomentos" (obtenerBusqueda)="buscar($event)"></busqueda-modulo-alimentar>
  <lista-modulo-alimentar [beneficiariosLista]="beneficiariosLista" [configPaginacion]="configPaginacion" (cambioDePagina)="cambioPagina($event)" ></lista-modulo-alimentar>
</div>


