<fieldset [formGroup]="prestacion">
  <div class="row">
    <div class="form-group col-md-4">
      <label for="proposito">Propósito (<span class="text-obligatorio">*</span>):</label>
      <input type="text" id="proposito" placeholder="Propósito..." class="form-control" formControlName="proposito" [ngClass]="{'is-invalid': (prestacion.get('proposito').invalid && submitted)}">
      <div *ngIf="(prestacion.get('proposito').invalid && submitted)" class="text-danger">
        <div *ngIf="prestacion.get('proposito').hasError('required')">Por favor ingrese un propósito. </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="fecha_alta" class="prioridad">Fecha Alta (<span class="text-obligatorio">*</span>):</label>
      <div class="input-group">
        <input class="form-control" #c1 placeholder="Ej.: dd/mm/yyyy" ngbDatepicker #frd="ngbDatepicker"
        id="fecha_alta" formControlName="fechaAlta" (ngModelChange)="formatFecha($event, 'fecha_alta')" [ngClass]="{'is-invalid': (prestacion.get('fechaAlta').invalid && submitted)}">
        <div class="input-group-append">
            <button class="btn btn-outline-info" (click)="frd.toggle()" type="button" [ngClass]="{'btn-outline-danger': (prestacion.get('fechaAlta').invalid && submitted)}"
            >
                <span class="oi oi-calendar" title="Fecha alta" aria-hidden="true"></span>
            </button>
          </div>
      </div>
      <div *ngIf="(prestacion.get('fechaAlta').invalid && submitted)" class="text-danger">
          <div *ngIf="prestacion.get('fechaAlta').hasError('required')">Por favor ingrese una fecha de alta. </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
          <div class="form-group col-md-12">
            <label for="monto">Monto (<span class="text-obligatorio">*</span>):</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text" id="monto" placeholder="Ej.: 1000" class="form-control" formControlName="monto" (keyup)="validarMoneda($event.target); validarMontoMensual(prestacion.get('monto_mensual').value, $event.target.value)" [ngClass]="{'is-invalid': (prestacion.get('monto').invalid && submitted)}" >
            </div>
            <div *ngIf="(prestacion.get('monto').invalid && submitted)" class="text-danger">
              <div *ngIf="prestacion.get('monto').hasError('required')">Por favor ingrese un monto. </div>
            </div>
          </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="cuota">Método de pago (<span class="text-obligatorio">*</span>):</label>
      <select class="form-control" id="cuota" formControlName="cuota" [ngClass]="{'is-invalid': (prestacion.get('cuota').invalid && submitted)}">
        <option value="">Seleccione método de pago</option>
        <option value="0">Un pago</option>
        <option value="1">En Cuotas</option>
      </select>
      <div *ngIf="(prestacion.get('cuota').invalid && submitted)" class="text-danger">
          <div *ngIf="prestacion.get('cuota').hasError('required')">Por favor Seleccione un metodo de pago. </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="fecha_final" class="prioridad">Fecha Finalización:</label>
      <div class="input-group">
        <input class="form-control" #c2 placeholder="Ej.: dd/mm/yyyy" ngbDatepicker #frd2="ngbDatepicker"
        id="fecha_final" formControlName="fechaFinal" (ngModelChange)="formatFecha($event, 'fecha_final')" [ngClass]="{'is-invalid': (prestacion.get('cuota').value == 1 && submitted && prestacion.get('fechaFinal').value == null)}" >
        <div class="input-group-append">
            <button class="btn btn-outline-info" (click)="frd2.toggle()" type="button"
                [ngClass]="{'btn-outline-danger': (prestacion.get('cuota').value == 1 && submitted && prestacion.get('fechaFinal').value == null)}">
                <span class="oi oi-calendar" title="Fecha alta" aria-hidden="true"></span>
            </button>
          </div>
      </div>
      <div *ngIf="((prestacion.get('cuota').value == 1) && submitted)" class="text-danger">
          <div *ngIf="(prestacion.get('fechaFinal').value == null)">Por favor ingrese una fecha de finalización. </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
          <div class="form-group col-md-12">
            <label for="monto_mensual">Monto mensual:</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="text" id="monto_mensual" placeholder="Ej.: 1000" class="form-control" formControlName="monto_mensual" (keyup)="validarMoneda($event.target); validarMontoMensual($event.target.value, prestacion.get('monto').value)" [ngClass]="{'is-invalid': (prestacion.get('cuota').value == 1 && submitted && notificarErrorMontoMensual())}">
            </div>
            <div *ngIf="(error_monto_mensual)" class="text-danger">
              <div>El monto mensual NO puede ser mayor al monto. </div>
            </div>
            <div *ngIf="((prestacion.get('cuota').value == 1) && submitted)" class="text-danger">
              <div *ngIf="(notificarErrorMontoMensual())">Por favor ingrese un monto mensual. </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</fieldset>
