<ngb-tabset type="pills" [justify]="'justified'">
  <div class="row">
    <ngb-tab title="Datos Usuarios">
      <ng-template ngbTabContent>
        <admin-info-usuario [datosUsuario]="datosUsuario"></admin-info-usuario>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Rol y Permisos">
      <ng-template ngbTabContent>
        <admin-administrar-rol-permiso-form [listaPermisos]="configListas.permisos" [listaProgramas]="configListas.programas"></admin-administrar-rol-permiso-form>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Administrar contraseña">
      <ng-template ngbTabContent>
        <div class="col-md-12 m-1">
          <admin-usuario-pass-form [localidades]="configListas.localidades" [usuario]="usuario" [submitted]="submitted" ></admin-usuario-pass-form>
        </div>
        <div class="col-md-12 mt-1 mb-3">
          <button type="button" class="btn btn-success btn-block"><i class="far fa-save"></i> Guardar</button>
        </div>
      </ng-template>
    </ngb-tab>
  </div>
</ngb-tabset>
