<div class="row p-3">
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Nro. Documento:</dt>
        <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosUsuario.nro_documento}}</dd>
      </dl>
      <dl class="row">
          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Apellido y nombre:</dt>
          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosUsuario.apellido}}, {{datosUsuario.nombre}}</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Cuil:</dt>
        <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosUsuario.cuil}}</dd>
      </dl>
      <dl class="row">
          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Usuario:</dt>
          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosUsuario.usuario.user_name}}</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Correo:</dt>
        <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{datosUsuario.usuario.email}}</dd>
      </dl>
    </div>
</div>
