<div class="row" [formGroup]="grupoFamiliarForm">
  <div class="form-group col-md-3">
    <label for="nro_documento" >Nro Documento (<span>*</span>):</label>
    <input type="number" id="nro_documento" placeholder="Ej.: 33242854" class="form-control" formControlName="nro_documento" [ngClass]="{'is-invalid': (grupoFamiliarForm.get('nro_documento').invalid && submitted)}">
    <div *ngIf="(grupoFamiliarForm.get('nro_documento').invalid && submitted)" class="text-danger">
      <div *ngIf="grupoFamiliarForm.get('nro_documento').hasError('required')">Este campo es requerido. </div>
    </div>
  </div>
  <div class="form-group col-md-3">
    <label for="apellido" >Apellido (<span>*</span>):</label>
    <input type="text" id="apellido" placeholder="Ej.: Muñoz" class="form-control" formControlName="apellido" [ngClass]="{'is-invalid': (grupoFamiliarForm.get('apellido').invalid && submitted)}">
    <div *ngIf="(grupoFamiliarForm.get('apellido').invalid && submitted)" class="text-danger">
      <div *ngIf="grupoFamiliarForm.get('apellido').hasError('required')">Este campo es requerido. </div>
    </div>
  </div>
  <div class="form-group col-md-3">
    <label for="nombre" >Nombre (<span>*</span>):</label>
    <input type="text" id="nombre" placeholder="Ej.: Nahuel" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': (grupoFamiliarForm.get('nombre').invalid && submitted)}">
    <div *ngIf="(grupoFamiliarForm.get('nombre').invalid && submitted)" class="text-danger">
      <div *ngIf="grupoFamiliarForm.get('nombre').hasError('required')">Este campo es requerido. </div>
    </div>
  </div>
  <div class="form-group col-md-3">
    <label for="fecha_nacimiento" class="prioridad">Fecha nacimiento (<span>*</span>):</label>
      <div class="input-group">
        <input class="form-control" #c1 placeholder="dd/mm/yyyy" ngbDatepicker #fpd="ngbDatepicker"
        id="fecha_nacimiento" formControlName="fechaNacimiento" (ngModelChange)="formatFechaNacimiento($event)" [ngClass]="{'is-invalid': (grupoFamiliarForm.get('fechaNacimiento').invalid && submitted)}">
        <div class="input-group-append">
          <button class="btn btn-outline-info" (click)="fpd.toggle()" type="button"
                [ngClass]="{'btn-outline-danger': (grupoFamiliarForm.get('fechaNacimiento').invalid && submitted), 'is-invalid': (grupoFamiliarForm.get('fechaNacimiento').invalid && submitted)}">
              <span class="oi oi-calendar" title="Fecha nacimiento" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div *ngIf="(grupoFamiliarForm.get('fechaNacimiento').invalid && submitted)" class="text-danger">
        <div *ngIf="grupoFamiliarForm.get('fechaNacimiento').hasError('required')">Este campo es requerido. </div>
      </div>
  </div>
</div>

<hr class="pt1">

<div class="float-right mb-3">
  <button type="button" class="btn btn-danger mr-1" (click)="cancelar()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button>
  <button type="button" class="btn btn-success" (click)="validar()"><i class="fa fa-plus" title="Agregar"></i> Agregar</button>
</div>
