<form [formGroup]="formRecurso">
  <div class="mb-3 bg-white  p-3 rounded">
    <div class="d-flex justify-content-between">
      <div class="col-5 pt-1"><hr></div>
      <div class="col-2 text-center"><h3><small class="text-muted">Prestación</small></h3></div>
      <div class="col-5 pt-1"><hr></div>
    </div>
    <fieldset>
      <div class="row">
          <div class="form-group col-md-4">
            <label for="programa">Programa (<span class="text-obligatorio">*</span>):</label>
            <select class="form-control" id="programa" formControlName="programaid" [ngClass]="{'is-invalid': (formRecurso.get('programaid').invalid && submitted)}" (change)="listarTipoRecurso($event.target.value);esEmprender($event)" >
              <option value="">Seleccione Programa</option>
              <option *ngFor="let programa of listaPrograma" value="{{programa.id}}">{{programa.nombre}}</option>
            </select>
            <div *ngIf="(formRecurso.get('programaid').invalid && submitted)" class="text-danger">
                <div *ngIf="formRecurso.get('programaid').hasError('required')">Por favor Seleccione un programa. </div>
            </div>
          </div>
        <div class="form-group col-md-4">
          <label for="tipo_recurso">Tipo de prestación (<span class="text-obligatorio">*</span>):</label>
          <select class="form-control" id="tipo_recurso" formControlName="tipo_recursoid" [ngClass]="{'is-invalid': (formRecurso.get('tipo_recursoid').invalid && submitted)}">
            <option value="">Seleccione tipo de prestación</option>
            <option *ngFor="let tipo of listaTipoRecurso" value="{{tipo.id}}">{{tipo.nombre}}</option>
          </select>
          <div *ngIf="(formRecurso.get('tipo_recursoid').invalid && submitted)" class="text-danger">
              <div *ngIf="formRecurso.get('tipo_recursoid').hasError('required')">Por favor Seleccione un tipo de prestación. </div>
          </div>
        </div>
      </div>
      <prestacion-general *ngIf="(programaNombreSeleccionado != '' && programaNombreSeleccionado != 'módulo alimentar')" [prestacion]="formRecurso.get('prestacion')" [submitted]="submittedPrestacion"></prestacion-general>
      <modulo-alimentar *ngIf="(programaNombreSeleccionado != '' && programaNombreSeleccionado == 'módulo alimentar')" [listaTipoResponsable]="listaTipoResponsable" [prestacionModuloAlimentar]="formRecurso.get('modulo_alimentar')" [submitted]="submittedMA"></modulo-alimentar>
      <div class="row">
        <div class="form-group col-md-12">
          <label for="observacion">Observación:</label>
          <textarea class="form-control" id="observacion" cols="30" rows="1" placeholder="Descripcion..." formControlName="observacion" ></textarea>
        </div>
      </div>
    </fieldset>
    <hr class="pt1" *ngIf="(!emprender)">
    <fieldset *ngIf="(!emprender)">
        <div class="float-right">
          <button type="button" class="btn btn-danger" (click)="cancelarForm()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button>&nbsp;
          <button type="button" class="btn btn-success" (click)="validarForm()" ><span class="fas fa-save" title="Guardar" aria-hidden="true"></span> Guardar</button>
        </div>
    </fieldset>
  </div>
  <div class="mb-3 bg-white  p-3 rounded" *ngIf="(emprender)">
    <fieldset >
      <div class="d-flex justify-content-between">
        <div class="col-4 pt-1"><hr></div>
        <div class="col-4 text-center"><h3><small class="text-muted">Buscar alumnos</small></h3></div>
        <div class="col-4 pt-1"><hr></div>
      </div>
      <div class="row" >
        <div class="col-md-12">
          <shared-buscar-persona (personaElegida)="agregarAlumnos($event)" ></shared-buscar-persona>
        </div>
      </div>
      <div class="d-flex justify-content-between">
          <div class="col-4 pt-1"><hr></div>
          <div class="col-4 text-center"><h3><small class="text-muted">Listado de alumnos</small></h3></div>
          <div class="col-4 pt-1"><hr></div>
        </div>
      <div class="row">
        <div class="col-md-12">
          <shared-lista-persona [personas]="listaAlumnos" (borrarPersona)="borrarAlumno($event)" [mostrar]="(true)"></shared-lista-persona>
        </div>
      </div>
    </fieldset>
    <hr class="pt1">
    <fieldset>
        <div class="float-right">
          <button type="button" class="btn btn-danger" (click)="cancelarForm()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button>&nbsp;
          <button type="button" class="btn btn-success" (click)="validarForm()" ><span class="fas fa-save" title="Guardar" aria-hidden="true"></span> Guardar</button>
        </div>
    </fieldset>
  </div>
</form>
