.dropdown-menu
  background: #8cc63f;
.dropdown-item
  color: #ccff99 !important;
.dropdown-item:hover
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff !important;
  //box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  background: none !important;
.eshover
  a:hover
    cursor: pointer;
    color: #fff !important;
    background: none !important;
