<nav class="navbar navbar-expand-md navbar-pril fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span>
    </button>
  <a class="navbar-brand" [routerLink]="['inicio']" (click)="ocultarMenu()" >
      <img src="../../../assets/img/logomarcarn.png" width="60" height="40" alt="Ministerio desarrollo social">
      <!-- <img src="../../../assets/img/manos-grises.png" width="35" height="40" alt="Gestor de prestaciones"> -->
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed" *ngIf="estoyLogueado">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed;">
            <a class="nav-link" [routerLink]="['crear-prestacion']" ><i class="fas fa-hands-helping"></i> Crear prestación</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed;">
            <a class="nav-link" [routerLink]="['reporte']" ><i class="fas fa-file-contract"></i> Reportes</a>
          </li>
        </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-md-flex" *ngIf="estoyLogueado">
          <div ngbDropdown placement="bottom-right" class="d-inline-block">
              <button class="btn btn-outline-primary-dp btn-margin-dropdown" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-user-tie"></i> {{nombreUsuario}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <li class="dropdown-item"><a class="nav-link" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
              </div>
          </div>
          <!-- <div>
            <img src="../../../assets/img/manos-grises.png" width="35" height="40" alt="Gestor de prestaciones">
          </div> -->
      </ul>
  </div>
</nav>
