<nav class="navbar navbar-expand-md navbar-pril fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed; ocultarMenu();" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span>
    </button>
  <a class="navbar-brand" [routerLink]="['inicio']" (click)="ocultarMenu()" >
      <img src="../../../assets/img/logomarcarn.png" width="60" height="40" alt="Ministerio desarrollo social">
  </a>
  <!-- <a class="navbar-brand" href="#">PRIL</a> -->
  <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed" *ngIf="estoyLogueado">
      <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed; ocultarMenu();">
              <a class="nav-link" [routerLink]="['inicio/beneficiario']" ><i class="fas fa-male"></i> Beneficiario</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" (click)="mostrarMenu()" >
              Programas
            </a>
            <ul class="dropdown-menu" [ngClass]="{'show': mostrar, 'background-menu': (!isCollapsed)}"  >
              <li *ngFor="let programa of listaProgramas; index as i;" class="dropdown-submenu dropright" (mouseenter)="mouseHovering(i)" (mouseleave)="mouseLeaving(i)" >
                <a class="dropdown-item dropdown-toggle">{{programa.nombre}}</a>
                <div class="dropdown-menu" [ngClass]="{'hide': !(listaProgramas[i].isHovering), 'show': (listaProgramas[i].isHovering), 'background-submenu': (!isCollapsed)}">
                  <a class="dropdown-item" [routerLink]="['inicio/programa', programa.nombre, programa.id, 'recurso', 'nuevo']" (click)="ocultarMenu();guardarPrograma(programa);" >Nuevo recurso</a>
                  <a class="dropdown-item" [routerLink]="['inicio/programa', programa.nombre, programa.id, 'lista']" (click)="ocultarMenu();guardarPrograma(programa);">Listar</a>
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed; ocultarMenu();">
            <a class="nav-link" [routerLink]="['inicio/reporte']" ><i class="fas fa-male"></i> Reportes</a>
          </li>
        </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-md-flex" *ngIf="estoyLogueado">
          <!-- <li class="nav-item">
              <a class="nav-link" [routerLink]="['login']" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
        </li>
      </ul>
  </div>
</nav>
