<div class="mb-3 bg-white  p-3 rounded">
  <div class="d-flex justify-content-between">
    <h2>Crear prestación</h2>
    <div class="btn-group">
        <button type="button" class="btn btn-md btn-light mb-2" ngbTooltip="Editar persona" (click)="editarPersona()" *ngIf="infoPersona" container="body" ><i class="fas fa-pencil-alt"></i></button>
      <button type="button" class="btn btn-md btn-info mb-2" ngbTooltip="Cambiar persona" (click)="cambiarPersona()" *ngIf="infoPersona"><i class="fas fa-sync"></i></button>
    </div>
  </div>
  <shared-buscar-persona *ngIf="!(infoPersona)" (personaElegida)="seleccionarPersona($event)" ></shared-buscar-persona>
  <shared-vista-info-persona *ngIf="infoPersona" [persona]="datosPersona" [mostrarBoton]="false" ></shared-vista-info-persona>

  <shared-form-contacto [formContacto]="contactosForm.controls.contacto"></shared-form-contacto>

</div>
<div class="mb-3 bg-white  p-3 rounded">
  <shared-form-recurso></shared-form-recurso>
</div>
