<div class="mb-3 bg-white  p-3 rounded">
  <div class="d-flex justify-content-between">
    <h2>Crear prestación</h2>
    <button type="button" class="btn btn-md btn-info mb-2" (click)="cambiarPersona()" *ngIf="infoPersona"><i class="fas fa-sync"></i></button>
  </div>
  <shared-buscar-persona *ngIf="!(infoPersona)" (personaElegida)="seleccionarPersona($event)" ></shared-buscar-persona>
  <shared-vista-info-persona *ngIf="infoPersona" [persona]="datosPersona" [mostrarBoton]="false" ></shared-vista-info-persona>

  <shared-form-contacto></shared-form-contacto>

</div>
<div class="mb-3 bg-white  p-3 rounded">
  {{contactosForm.value | json}}
  <shared-form-recurso [formContacto]="contactosForm.controls.contacto"></shared-form-recurso>
</div>
