<table class="table table-sm">
  <thead class="background-menu">
    <th scope="col">Programa</th>
    <th scope="col">Permisos</th>
    <th></th>
  </thead>
  <tbody *ngIf="(listaProgramaPermisos.length == 0)">
    <td scope="row" class="text-center bg-warning" rowspan="1" colspan="3"><strong>El usuario no tiene programa/s y permiso/s</strong></td>
  </tbody>
  <tbody *ngIf="(listaProgramaPermisos.length > 0)">
    <tr *ngFor="let item of listaProgramaPermisos">
      <td scope="row">{{item.programa}}</td>
      <td scope="row">
        <span *ngFor="let permiso of item.lista_permiso" class="badge badge-pill badge-info m-1">{{permiso}}</span>
      </td>
      <td>
        <admin-confirmar-borrar-permiso-usuario-modal (confirmarBorrado)="borrarDato(item.usuarioid, item.programaid, $event)"></admin-confirmar-borrar-permiso-usuario-modal>
      </td>
    </tr>
  </tbody>
</table>
