<div class="d-flex justify-content-between">
  <div class="d-flex align-items-center p-2 font-weight-bold">
    <span *ngIf="configPaginacion.totalRegistros > 0">Usuarios: {{configPaginacion.cantRegistros}} - {{configPaginacion.totalRegistros}} de {{configPaginacion.colleccionSize}}</span>
    <span *ngIf="configPaginacion.totalRegistros == 0">Usuarios: 0</span>
  </div>
  <div class="d-flex align-items-center p-2 font-weight-bold">
    <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="Default pagination" style="margin-bottom: -15px;" ></ngb-pagination>
  </div>
</div>
<div class="row pl-3 pr-3">
  <table class="table table-sm">
    <thead class="background-menu">
      <tr>
        <th scope="col">Apellido y Nombre</th>
        <th class="text-center" scope="col">Usuario</th>
        <th class="text-center" scope="col">Fecha de Alta</th>
        <th class="text-center" scope="col">Ultimo Ingreso</th>
        <th class="text-center" scope="col">Dirección IP</th>
        <th class="text-center columna-160" scope="col"><admin-usuario-modal [configModal]="configModalAgregar" [disenioBoton]="configBotonModalAgregar"></admin-usuario-modal></th>
      </tr>
    </thead>
    <tbody *ngIf="(listado.length == 0)">
      <tr>
        <td class="text-center bg-warning" rowspan="1" colspan="6">
          <strong>No se han encontrado resultado</strong>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="(listado.length > 0)" >
      <tr *ngFor="let user of listado;" [ngClass]="{'table-danger': (user.baja)}" ngbTooltip="{{infoAdicional(user.fecha_baja | date:'dd/MM/yyyy')}}">
        <td>{{user.apellido}}, {{user.nombre}} - {{user.baja}}</td>
        <td class="text-center">{{user.username}}</td>
        <td class="text-center">{{user.created_at | date:'dd/MM/yyyy'}}</td>
        <td class="text-center">{{user.last_login_at | date:'dd/MM/yyyy'}}</td>
        <td class="text-center">{{user.direccion_ip}}</td>
        <td class="text-center">
          <admin-configurar-usuario-modal [usuarioid]="user.id"></admin-configurar-usuario-modal>
          <admin-baja-usuario-modal *ngIf="(!user.baja)" [nombreUsuario]="user.username" (confirmarBaja)="darBajaUsuario($event, user.id)"></admin-baja-usuario-modal>
          <admin-alta-usuario-modal *ngIf="(user.baja)" [nombreUsuario]="user.username" (confirmarAlta)="darAltaUsuario($event, user.id)"></admin-alta-usuario-modal>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-between border-top">
  <div class="d-flex align-items-center p-2 font-weight-bold">
    <span *ngIf="configPaginacion.totalRegistros > 0">Usuarios: {{configPaginacion.cantRegistros}} - {{configPaginacion.totalRegistros}} de {{configPaginacion.colleccionSize}}</span>
    <span *ngIf="configPaginacion.totalRegistros == 0">Usuarios: 0</span>
  </div>
  <div class="d-flex align-items-center p-2 font-weight-bold">
    <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="Default pagination" style="margin-bottom: -15px;" ></ngb-pagination>
  </div>
</div>
