    <div class="d-flex justify-content-between mt-2 border-top">
      <div class="d-flex align-items-center flex-wrap p-2 font-weight-bold">
        <span *ngIf="configPaginacion.totalRegistros > 0">Prestaciones: {{configPaginacion.cantRegistros}} - {{configPaginacion.totalRegistros}} de {{configPaginacion.colleccionSize}}</span>
        <span *ngIf="configPaginacion.totalRegistros == 0">Prestaciones: 0</span>
      </div>
      <div class="d-flex align-items-center p-2 font-weight-bold">
        <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="Default pagination" style="margin-bottom: -15px;" ></ngb-pagination>
      </div>
      <div class="d-flex align-items-center flex-wrap p-2 font-weight-bold">
        <span ngbTooltip="Monto sin acreditar">
          MSA: {{configPaginacion.monto_sin_acreditar | currency:'USD':'symbol-narrow':'2.2'}}
        </span>
        &nbsp;|&nbsp;
        <span ngbTooltip="Monto acreditado" class="text-success">
          MA: {{configPaginacion.monto_acreditado | currency:'USD':'symbol-narrow':'2.2'}}
        </span>
        &nbsp;|&nbsp;
        <span ngbTooltip="Monto baja" class="text-danger">
          MB: {{configPaginacion.monto_baja | currency:'USD':'symbol-narrow':'2.2'}}
        </span>
      </div>
    </div>
    <div class="row pl-3 pr-3">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Nro Doc</th>
            <th colspan="2" scope="col">Apellido y nombre</th>
            <th class="text-center" scope="col">Localidad</th>
            <th class="text-center" scope="col" style="cursor: pointer; min-width: 110px !important;" (click)="ordenarFecha()">
              Fecha alta&nbsp;
              <i *ngIf="(ordenarColumna == 'monto' || ordenarColumna == '-monto')" class="fas fa-sort" ngbTooltip="Ordenar" ></i>
              <i *ngIf="(ordenarColumna == 'fecha_alta')" class="fas fa-sort-up" ngbTooltip="Ascendente" ></i>
              <i *ngIf="(ordenarColumna == '-fecha_alta')" class="fas fa-sort-down" ngbTooltip="Descendente" ></i>
            </th>
            <th class="text-center" scope="col">Programa</th>
            <th scope="col">Propósito</th>
            <th class="text-center" scope="col" style="cursor: pointer;" (click)="ordenarMonto()">
              Monto&nbsp;
              <i *ngIf="(ordenarColumna == 'fecha_alta' || ordenarColumna == '-fecha_alta')" class="fas fa-sort" ngbTooltip="Ordenar"></i>
              <i *ngIf="(ordenarColumna == 'monto')" class="fas fa-sort-up" ngbTooltip="Ascendente" ></i>
              <i *ngIf="(ordenarColumna == '-monto')" class="fas fa-sort-down" ngbTooltip="Descendente" ></i>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="(recursosLista.length == 0)">
          <tr>
            <td rowspan="1" colspan="9" class="text-center"> <h5>No se han encontrado resultados.</h5> </td>
          </tr>
        </tbody>
        <tbody *ngIf="(recursosLista.length > 0)">
          <tr *ngFor="let recurso of recursosLista" [ngClass]="{'table-success': (recurso.acreditacion), 'table-danger': (recurso.baja)}" ngbTooltip="{{infoAdicional(recurso.fecha_acreditacion, recurso.fecha_baja)}}" >
            <td scope="row">{{recurso.persona.nro_documento}}</td>
            <td>
              {{recurso.persona.apellido}}, {{recurso.persona.nombre}}
            </td>
            <td>
              <div class="btn-group responsive-btn-icon">
                <button *ngIf="(recurso.persona.lugar != undefined)" ngbTooltip="{{direccion(recurso.persona.lugar)}}" container="body" triggers="click" [autoClose]="'outside'" type="button" class="btn btn-sm btn-light"><i class="fas fa-home"></i></button>
                <button *ngIf="(recurso.persona.telefono != '')" ngbTooltip="{{recurso.persona.telefono}}" triggers="click" [autoClose]="'outside'" type="button" class="btn btn-sm btn-light"><i class="fas fa-phone"></i></button>
                <button *ngIf="(recurso.persona.celular != '')" ngbTooltip="{{recurso.persona.celular}}" triggers="click" [autoClose]="'outside'" type="button" class="btn btn-sm btn-light"><i class="fas fa-mobile-alt"></i></button>
                <button *ngIf="(recurso.persona.email != '')" ngbTooltip="{{recurso.persona.email}}" triggers="click" [autoClose]="'outside'" type="button" class="btn btn-sm btn-light"><i class="fas fa-envelope"></i></button>
                <div *ngIf="((recurso.persona.lista_red_social) && recurso.persona.lista_red_social.length > 0 )">
                  <a *ngFor="let redSocial of recurso.persona.lista_red_social" href="{{redSocial.perfil}}" target="_blank" ngbTooltip="{{redSocial.tipo_red_social}}" class="btn btn-sm btn-light"><i class="{{redSocial.icon_class}}"></i></a>
                </div>
              </div>
            </td>
            <td class="text-center">{{recurso.localidad}}</td>
            <td class="text-center">{{ recurso.fecha_alta | date:'dd/MM/yyyy' }}</td>
            <td class="text-center">{{recurso.programa}}</td>
            <td>{{recurso.proposito}}</td>
            <td class="text-center">{{recurso.monto | currency:'USD':'symbol-narrow':'2.2'}}</td>
            <td>
              <div class="btn-group">
                <modal-info-persona-prestacion-component class="btn-group" [recursoid]="recurso.id" [recursos]="recursosLista" (cambioEstado)="actualizarLista($event)"></modal-info-persona-prestacion-component>
                <modal-acreditar-component class="btn-group" *ngIf="(!recurso.acreditacion && !recurso.baja)" [recursoid]="recurso.id" (obtenerRecurso)="actualizarLista($event)" ngbTooltip="Acreditar prestación"></modal-acreditar-component>
                <modal-baja-component class="btn-group" ngbTooltip="Baja prestación" *ngIf="(!recurso.baja)" [recursoid]="recurso.id" (obtenerRecurso)="actualizarLista($event)" ></modal-baja-component>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class=" d-flex justify-content-center">
        <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="Default pagination"></ngb-pagination>
    </div>
