<div class="d-flex justify-content-between mt-2 border-top">
  <div class="d-flex align-items-center p-2 font-weight-bold">
    <span *ngIf="configPaginacion.totalRegistros > 0">Prestaciones: {{configPaginacion.cantRegistros}} - {{configPaginacion.totalRegistros}} de {{configPaginacion.colleccionSize}}</span>
    <span *ngIf="configPaginacion.totalRegistros == 0">Prestaciones: 0</span>
  </div>
  <div class="d-flex align-items-center p-2 font-weight-bold">
    <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="Default pagination" style="margin-bottom: -15px;" ></ngb-pagination>
  </div>
  <div class="d-flex align-items-center p-2 font-weight-bold">Monto Total: {{configPaginacion.monto_total | currency:'USD':'symbol-narrow':'2.2'}}</div>
</div>
<div class="row pl-3 pr-3">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Nro Doc</th>
        <th scope="col">Apellido y nombre</th>
        <th class="text-center" scope="col">Localidad</th>
        <th scope="col">Fecha alta</th>
        <th class="text-center" scope="col">Programa</th>
        <th scope="col">Propósito</th>
        <th class="text-center" scope="col">Monto</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="(beneficiariosLista.length == 0)">
      <tr>
        <td rowspan="1" colspan="7" class="text-center"> <h5>No se han encontrado resultados.</h5> </td>
      </tr>
    </tbody>
    <tbody *ngIf="(beneficiariosLista.length > 0)">
      <tr *ngFor="let beneficiario of beneficiariosLista">
        <td scope="row">{{beneficiario.persona.nro_documento}}</td>
        <td>
          {{beneficiario.persona.apellido}}, {{beneficiario.persona.nombre}}
        </td>
        <td class="text-center">{{beneficiario.persona.lugar.localidad}}</td>
        <td>{{ beneficiario.fecha_alta | date:'dd/MM/yyyy' }}</td>
        <td class="text-center">{{beneficiario.programa}}</td>
        <td>{{beneficiario.proposito}}</td>
        <td class="text-center">{{beneficiario.monto | currency:'USD':'symbol-narrow':'2.2'}}</td>
        <td>
          <div class="btn-group">
            <modal-info-persona-prestacion-component class="btn-group" [recursoid]="beneficiario.id" ></modal-info-persona-prestacion-component>
            <modal-acreditar-component class="btn-group" *ngIf="(!beneficiario.acreditacion && !beneficiario.baja)" [recursoid]="beneficiario.id" (obtenerRecurso)="actualizarLista($event)" ngbTooltip="Acreditar prestación"></modal-acreditar-component>
            <modal-baja-component class="btn-group" ngbTooltip="Baja prestación" *ngIf="(!beneficiario.baja)" [recursoid]="beneficiario.id" (obtenerRecurso)="actualizarLista($event)" ></modal-baja-component>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class=" d-flex justify-content-center">
    <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="Default pagination"></ngb-pagination>
</div>
