<div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="globalSearch" id="buscar-reporte" placeholder="">
      <div class="input-group-append btn-group">
        <button type="button" class="btn btn-primary" (click)="buscar(globalSearch, page)" ngbTooltip="Buscar" ><i class="fas fa-search"></i></button>
        <button type="button" class="btn btn-danger" ngbTooltip="Limpiar busqueda" ><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-md btn-primary" (click)="mostrarBusquedaAvanzada();">
    busqueda avanzada &nbsp;
    <i class="fas fa-caret-down" *ngIf="!mostrar" ></i>
    <i class="fas fa-caret-up" *ngIf="mostrar" ></i>
  </button>
  <div class="card mt-1" *ngIf="mostrar">
      <div class="card-body">
        <fieldset [formGroup]="busquedaAvanzada">
          <div class="row">
            <div class="form-group col-md-4">
                <label for="localidad" class="prioridad">Localidad:</label>
                <select class="form-control" id="localidad" formControlName="localidadid">
                  <option value="">Seleccione Localidad</option>
                  <option *ngFor="let localidad of localidadesLista" value="{{localidad.id}}">{{localidad.nombre}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="programa" class="prioridad">Programa:</label>
                <select class="form-control" id="programa" formControlName="programaid">
                  <option value="">Seleccione Localidad</option>
                  <option *ngFor="let programa of programasLista" value="{{programa.id}}">{{programa.nombre}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="tipo_recurso" class="prioridad">Tipo prestación:</label>
                <select class="form-control" id="tipo_recurso" formControlName="tipo_recursoid">
                  <option value="">Seleccione Localidad</option>
                  <option *ngFor="let tipo_recurso of tipoRecursosLista" value="{{tipo_recurso.id}}">{{tipo_recurso.nombre}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="fecha_desde" class="prioridad">Fecha desde:</label>
                <div class="input-group">
                    <input class="form-control" #c1 placeholder="dd/mm/yyyy" ngbDatepicker #fbd="ngbDatepicker"
                    id="fecha_desde" formControlName="fechaDesde" (ngModelChange)="formatFechaDesde($event)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" (click)="fbd.toggle()" type="button">
                            <span class="oi oi-calendar" title="Fecha desde" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="fecha_hasta" class="prioridad">Fecha hasta:</label>
                <div class="input-group">
                    <input class="form-control" #c1 placeholder="dd/mm/yyyy" ngbDatepicker #fbh="ngbDatepicker"
                    id="fecha_hasta" formControlName="fechaHasta" (ngModelChange)="formatFechaHasta($event)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" (click)="fbh.toggle()" type="button">
                            <span class="oi oi-calendar" title="Dirección" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
          </div>
        </fieldset>
      </div>
  </div>
