<fieldset [formGroup]="busquedaAvanzada">
    <div class="form-group" >
      <div class="input-group">
        <input type="text" class="form-control" formControlName="global_param" id="buscar-reporte" placeholder="burcar por DNI, nombre, apellido">
        <div class="input-group-append btn-group">
          <button type="button" class="btn btn-primary" (click)="buscar()" ngbTooltip="Buscar" ><i class="fas fa-search"></i></button>
          <button type="button" class="btn btn-danger" ngbTooltip="Limpiar busqueda" ><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-md btn-primary" (click)="mostrarBusquedaAvanzada();">
      busqueda avanzada &nbsp;
      <i class="fas fa-caret-down" *ngIf="!mostrar" ></i>
      <i class="fas fa-caret-up" *ngIf="mostrar" ></i>
    </button>
    <div class="card mt-1" *ngIf="mostrar">
        <div class="card-body">
            <fieldset>
            <div class="row">
              <div class="form-group col-md-4">
                  <label for="localidad" class="prioridad">Localidad:</label>
                  <select class="form-control" id="localidad" formControlName="localidadid">
                    <option value="">Seleccione Localidad</option>
                    <option *ngFor="let localidad of localidadesLista" value="{{localidad.id}}">{{localidad.nombre}}</option>
                  </select>
              </div>
              <div class="form-group col-md-4">
                  <label for="programa" class="prioridad">Programa:</label>
                  <select class="form-control" id="programa" formControlName="programaid" (change)="listarTipoRecursos($event.target.value)" >
                    <option value="">Seleccione Programa</option>
                    <option *ngFor="let programa of programasLista" value="{{programa.id}}">{{programa.nombre}}</option>
                  </select>
              </div>
              <div class="form-group col-md-4">
                  <label for="tipo_recurso" class="prioridad">Tipo prestación:</label>
                  <select class="form-control" id="tipo_recurso" formControlName="tipo_recursoid">
                    <option value="">Seleccione Tipo de prestación</option>
                    <option *ngFor="let tipo_recurso of tipoRecursosLista" value="{{tipo_recurso.id}}">{{tipo_recurso.nombre}}</option>
                  </select>
              </div>
              <div class="form-group col-md-4">
                  <label for="fecha_desde" class="prioridad">Fecha desde/hasta:</label>
                  <div class="input-group">
                      <input class="form-control input-append" #c1 placeholder="Desde: dd/mm/yyyy" ngbDatepicker #fbd="ngbDatepicker"
                      id="fecha_desde" formControlName="fechaAltaDesde" (ngModelChange)="formatFecha($event, 'fecha_alta_desde'); onDateSelection($event);"
                      [displayMonths]="2" [navigation]="'select'" [dayTemplate]="t" [autoClose]="false"
                      >
                      <input class="form-control" #c1 placeholder="Hasta: dd/mm/yyyy" ngbDatepicker #fb="ngbDatepicker"
                      id="fecha_hasta" formControlName="fechaAltaHasta" (ngModelChange)="formatFecha($event, 'fecha_alta_hasta')"
                      >
                      <div class="input-group-prepend">
                          <button class="btn btn-outline-info" (click)="abrirDp()" type="button">
                              <span class="oi oi-calendar" title="Fecha desde" aria-hidden="true"></span>
                          </button>
                      </div>
                      <ngb-datepicker #db (select)="onDateSelection($event)" class="dp-style" [ngClass]="{'d-block': mostrarDp, 'd-none': !mostrarDp}" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" ></ngb-datepicker>
                      <ng-template #t let-date let-focused="focused">
                          <span class="custom-day"
                                [class.focused]="focused"
                                [class.range]="isRange(date)"
                                [class.faded]="isHovered(date) || isInside(date)"
                                (mouseenter)="hoveredDate = date"
                                (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                          </span>
                        </ng-template>
                  </div>
              </div>
              <div class="form-group col-md-4">
                  <div class="form-check mtop-checkbox">
                      <input class="form-check-input" type="checkbox" formControlName="acreditacion" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Acreditación
                      </label>
                    </div>
              </div>
              <div class="form-group col-md-4">
                  <div class="form-check mtop-checkbox">
                      <input class="form-check-input" type="checkbox" formControlName="baja" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Baja
                      </label>
                    </div>
              </div>
            </div>
          </fieldset>
        </div>
    </div>
</fieldset>
