<fieldset [formGroup]="busquedaAvanzada">
  <div class="form-group" >
    <div class="input-group">
      <input type="text" #buscarReporte class="form-control" formControlName="global_param" id="buscar-reporte" placeholder="Buscar por DNI, Nombre, Apellido" (keyup.enter)="buscar()" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.controls.global_param.value)}">
      <div class="input-group-append btn-group">
        <button type="button" class="btn btn-primary" (click)="buscar()" ngbTooltip="Buscar" ><i class="fas fa-search"></i></button>
        <button type="button" class="btn btn-danger" ngbTooltip="Limpiar b&uacute;squeda" (click)="limpiarCampos()" ><i class="fas fa-trash-alt"></i></button>
        <a class="btn btn-success" ngbTooltip="Crear prestación" [routerLink]="['/inicio/crear-prestacion']"><i class="fas fa-hands-helping"></i></a>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-md" (click)="mostrarBusquedaAvanzada()" [ngClass]="{'btn-success': btnSeleccion, 'btn-primary': !btnSeleccion}">
    Búsqueda Avanzada &nbsp;
    <i class="fas fa-caret-down" *ngIf="!mostrar" ></i>
    <i class="fas fa-caret-up" *ngIf="mostrar" ></i>
  </button>
  <div class="card mt-1" *ngIf="mostrar">
      <div class="card-body">
        <fieldset>
          <div class="col-md-12">
            <h4 class="font-italic text-muted border-bottom">Filtro de Persona</h4>
          </div>
          <div class="row" [formGroup]="busquedaAvanzada.get('persona')">
            <div class="form-group col-md-4">
              <label for="localidad" class="prioridad">Localidad:</label>
              <select class="form-control" id="localidad" formControlName="localidadid" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('persona').get('localidadid').value)}" >
                <option value="">Seleccione Localidad</option>
                <option *ngFor="let localidad of localidadesLista" value="{{localidad.id}}">{{localidad.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="buscar-direccion" class="prioridad">Dirección:</label>
              <input type="text" #buscarDireccion class="form-control" formControlName="direccion" id="buscar-direccion" placeholder="Buscar por dirección - Ej.: Mazarrello o Mazarrello 1165" (keyup.enter)="buscar()" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.get('persona').get('direccion').value)}">
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <h4 class="font-italic text-muted border-bottom">Filtro de Prestación</h4>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
                <label for="localidad" class="prioridad">Localidad:</label>
                <select class="form-control" id="localidad" formControlName="localidadid" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.controls.localidadid.value)}" >
                  <option value="">Seleccione Localidad</option>
                  <option *ngFor="let localidad of localidadesLista" value="{{localidad.id}}">{{localidad.nombre}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
              <label for="tipoResponsable" class="prioridad">Tipo de responsable:</label>
              <select class="form-control" id="tipoResponsable" formControlName="tipo_responsableid" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.controls.tipo_responsableid.value)}" >
                <option value="">Seleccione tipo de responsable</option>
                <option *ngFor="let tipo of tipoResponsablesLista" value="{{tipo.id}}">{{tipo.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="delegacion" class="prioridad">Delegación:</label>
              <select class="form-control" id="delegacion" formControlName="delegacionid" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.controls.delegacionid.value)}" >
                <option value="">Seleccione Delegación</option>
                <option *ngFor="let delegacion of delegacionesLista" value="{{delegacion.id}}">{{delegacion.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="municipio" class="prioridad">Municipio:</label>
              <select class="form-control" id="municipio" formControlName="municipioid" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.controls.municipioid.value)}" >
                <option value="">Seleccione Municipio</option>
                <option *ngFor="let municipio of municipiosLista" value="{{municipio.id}}">{{municipio.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="comision_fomento" class="prioridad">Comisión de fomento:</label>
              <select class="form-control" id="comision_fomento" formControlName="comision_fomentoid" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.controls.comision_fomentoid.value)}" >
                <option value="">Seleccione Comisión de fomento</option>
                <option *ngFor="let comision of comisionesDeFomentosLista" value="{{comision.id}}">{{comision.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="fecha_desde" class="prioridad">Fecha Desde/Hasta:</label>
              <div class="input-group">
                  <input class="form-control input-append" #c1 placeholder="Desde: dd/mm/yyyy" ngbDatepicker #fbd="ngbDatepicker"
                  id="fecha_desde" formControlName="fechaAltaDesde" (ngModelChange)="formatFecha($event, 'fecha_alta_desde');" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.controls.fechaAltaDesde.value)}"
                  [displayMonths]="2" [navigation]="'select'" [dayTemplate]="t" [autoClose]="false"
                  >
                  <input class="form-control" #c1 placeholder="Hasta: dd/mm/yyyy" ngbDatepicker #fb="ngbDatepicker"
                  id="fecha_hasta" formControlName="fechaAltaHasta" (ngModelChange)="formatFecha($event, 'fecha_alta_hasta')" [ngClass]="{'campo-seleccionado': marcarCampo(busquedaAvanzada.controls.fechaAltaHasta.value)}"
                  >
                  <div class="input-group-prepend">
                      <button class="btn btn-outline-info" (click)="abrirDp()" type="button">
                          <span class="oi oi-calendar" title="Fecha desde/hasta" aria-hidden="true"></span>
                      </button>
                  </div>
                  <ngb-datepicker #db (select)="onDateSelection($event)" class="dp-style" [ngClass]="{'d-block': mostrarDp, 'd-none': !mostrarDp}" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" ></ngb-datepicker>
                  <ng-template #t let-date let-focused="focused">
                      <span class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
  </div>
</fieldset>
