<div class="mb-3 bg-white  p-3 rounded">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" id="buscar-persona" placeholder="burcar por DNI, nombre, apellido">
      <div class="input-group-append btn-group">
        <button type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
        <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        <button type="button" class="btn btn-success"><i class="fas fa-user-plus"></i></button>
      </div>
    </div>
  </div>
</div>
