<div class="mb-3 bg-white  p-3 rounded">
  <shared-form-persona [cancelarUrl]="'recurso'" (getDatos)="guardar($event)"></shared-form-persona>
</div>

<!-- <div class="float-right mb-3">
    <a class="btn btn-danger" [routerLink]="['../nuevo']" ><span class="oi oi-ban" aria-hidden="true" title="Cancelar"></span> Cancelar</a>&nbsp;
    <button type="button" class="btn btn-success" (click)="guardar('')" ><span class="fas fa-save" title="Guardar" aria-hidden="true"></span> Guardar</button>
</div> -->
