/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap'
@import "~@ng-select/ng-select/themes/default.theme.css";

$fa-font-path : '../node_modules/font-awesome/fonts'
@import '../node_modules/font-awesome/scss/font-awesome'
@import './assets/estilos/header'


.container-header-top
  margin-top: 4.1rem
.form-group
  margin-bottom: 0.5rem
.form-group
  label
    margin-bottom: 0.1rem
.bg-personalizado
  background: #F1F1F1 !important
.bg-breadcrumbs
  background: #DEDEDE !important
.ventana-xl
  > .modal-dialog
    max-width: 1224px !important
.modal-md
  > .modal-dialog
    top: 20% !important
    max-width: 824px !important
.tab-content
  border: 1px solid #dee2e6 !important
  border-top: 0 !important
.modal-backdrop
  z-index: 1028 !important
.modal-dialog
  top: 55px !important
label
  span
    color: red
shared-vista-info-prestaciones
  .tab-content
    max-height: 400px !important
    overflow: auto !important
    .tab-pane
      margin-right: 8px !important
.btn-altura
  height: 5.25rem !important
.responsive-btn-icon
  flex-wrap: wrap
.fixed-top
  z-index: 1020 !important
