<ngb-tabset type="tabs" [justify]="'start'">
  <ngb-tab title="{{recurso.programa}}">
    <ng-template  ngbTabContent>
      <div class="card border-light p-2">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <span class="d-flex align-items-center">Alta: {{ recurso.fecha_alta | date:'dd/MM/yyyy' }}</span>
            <span class="d-flex align-items-center text-success" *ngIf="(recurso.acreditacion)">Acreditacion: {{recurso.fecha_acreditacion | date:'dd/MM/yyyy'}}</span>
            <span class="d-flex align-items-center text-danger" *ngIf="(recurso.baja)" >Baja: {{recurso.fecha_baja | date:'dd/MM/yyyy'}}</span>
            <span class="d-flex align-items-end" *ngIf="(!recurso.baja)">
                <modal-acreditar-component class="btn-group" *ngIf="(!recurso.acreditacion && !recurso.baja)" [recursoid]="recurso.id" (obtenerRecurso)="mostrarFA($event)" ngbTooltip="Acreditar prestación"></modal-acreditar-component>
                <modal-baja-component class="btn-group" ngbTooltip="Baja prestación" [recursoid]="recurso.id" (obtenerRecurso)="mostrarFB($event)" ></modal-baja-component>
            </span>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <dl class="row">
                <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Tipo prestación:</dt>
                <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{recurso.tipo_recurso}}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <dl class="row">
                <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Proposito:</dt>
                <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{recurso.proposito}}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <dl class="row">
                <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Monto:</dt>
                <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{recurso.monto}}</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <dl class="row">
              <dt class="col-2 col-sm-2 col-md-2 col-lg-2" style="margin-left: 0.8rem;">Observación:</dt>
              <dd class="col-3 col-sm-9 col-md-9 col-lg-9">{{recurso.observacion}}</dd>
            </dl>
          </div>
        </div>
        <div class="row" *ngIf="(recurso.baja)">
          <div class="col-md-12">
            <dl class="row">
              <dt class="col-2 col-sm-2 col-md-2 col-lg-2" style="margin-left: 0.8rem;">Descripción baja:</dt>
              <dd class="col-3 col-sm-9 col-md-9 col-lg-9">{{recurso.descripcion_baja}}</dd>
            </dl>
          </div>
        </div>
        <div class="d-flex justify-content-between" *ngIf="(recurso.alumno_lista !== undefined)">
          <div class="col-4 pt-1"><hr></div>
          <div class="col-4 text-center"><h3><small class="text-muted">Alumnos</small></h3></div>
          <div class="col-4 pt-1"><hr></div>
        </div>
        <shared-lista-persona *ngIf="(recurso.alumno_lista != undefined && recurso.alumno_lista.length > 0)" [personas]="recurso.alumno_lista" [mostrar]="false"></shared-lista-persona>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
