<ngb-tabset type="tabs" [justify]="'start'">
  <ngb-tab title="{{recurso.programa}}">
    <ng-template  ngbTabContent>
      <div class="card border-light p-2">
        <div class="card-header">
          <shared-vista-header [recurso]="recurso" (actualizarDatos)="actualizarRecurso($event, recurso.id)"></shared-vista-header>
        </div>
        <div class="card-body">
          <shared-vista-body-prestacion-general [recurso]="recurso"></shared-vista-body-prestacion-general>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="(recurso.cuota)" title="Cuotas">
    <ng-template  ngbTabContent>
      <div class="card border-light p-2">
        <div class="card-body">
          <shared-lista-cuota [cuotaLista]="listadoCuotas" [montoTotal]="recurso.monto" [montoAcreditado]="recurso.monto_total_acreditado" [recursoid]="recurso.id" (eliminoCuota)="actualizarRecurso($event, recurso.id)"></shared-lista-cuota>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
