<div class="row ">
    <div class="col-md-12 ">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                      <dl class="row">
                        <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Nro. Documento:</dt>
                        <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{persona.nro_documento}}</dd>
                      </dl>
                      <dl class="row">
                          <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Apellido y nombre:</dt>
                          <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{persona.apellido}}, {{persona.nombre}}</dd>
                      </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="row">
                            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Cuil:</dt>
                            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{persona.cuil}}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Fecha nacimiento:</dt>
                            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{persona.fecha_nacimiento | date:'dd/MM/yyyy'}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl class="row">
                            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Sexo (Genero):</dt>
                            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{persona.sexo}} <span *ngIf="(persona.genero != '')">({{persona.genero}})</span></dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Estado civil:</dt>
                            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{persona.estado_civil}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-12">
                      <div class="d-flex justify-content-center">


                        <div class="btn-group">
                            <ng-template #direccionContent>
                                {{persona.lugar.localidad}} <br>
                                {{persona.lugar.barrio}} <br>
                                {{persona.lugar.calle}} {{persona.lugar.altura}}
                                <span *ngIf="(persona.lugar.escalera != '' || persona.lugar.depto != '' || persona.lugar.piso != '')">
                                    <br>
                                    {{(persona.lugar.escalera != "")?persona.lugar.escalera:""}} {{(persona.lugar.depto != "")?persona.lugar.depto:""}} {{(persona.lugar.piso != "")?persona.lugar.piso:""}}
                                </span>
                            </ng-template>
                            <button type="button" class="btn btn-sm btn-light" [autoClose]="'outside'" [ngbTooltip]="direccionContent" container="body"><i class="fas fa-home"></i></button>
                            <button *ngIf="(mostrarBoton)" type="button" class="btn btn-sm btn-light"><i class="fas fa-phone"></i></button>
                            <button *ngIf="(mostrarBoton)" type="button" class="btn btn-sm btn-light"><i class="fas fa-mobile-alt"></i></button>
                            <button *ngIf="(mostrarBoton)" type="button" class="btn btn-sm btn-light"><i class="fas fa-envelope"></i></button>
                            <button *ngIf="(mostrarBoton)" type="button" class="btn btn-sm btn-light"><i class="fas fa-users"></i></button>
                        </div>
                      </div>
                        <!-- <ul class="list-inline d-flex justify-content-center">
                            <li class="list-inline-item">
                                <ng-template #direccionContent>
                                    {{persona.lugar.localidad}} <br>
                                    {{persona.lugar.barrio}} <br>
                                    {{persona.lugar.calle}} {{persona.lugar.altura}}
                                    <span *ngIf="(persona.lugar.escalera != '' || persona.lugar.depto != '' || persona.lugar.piso != '')">
                                        <br>
                                        {{(persona.lugar.escalera != "")?persona.lugar.escalera:""}} {{(persona.lugar.depto != "")?persona.lugar.depto:""}} {{(persona.lugar.piso != "")?persona.lugar.piso:""}}
                                    </span>
                                </ng-template>
                                <button type="button" class="btn btn-outline-secondary btn-margin-left" [ngbTooltip]="direccionContent">
                                    <span class="oi oi-home" title="Dirección" aria-hidden="true"></span>
                                </button>
                            </li>
                            <li class="list-inline-item" *ngIf="(persona.email != '' && persona.email != null)">
                                <button type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{persona.email}}">
                                    <span class="oi oi-envelope-closed" title="Email" aria-hidden="true"></span>
                                </button>
                            </li>
                            <li class="list-inline-item" *ngIf="(persona.telefono != '' && persona.telefono != null)">
                                <button type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{persona.telefono}}">
                                    <i class="fas fa-phone" title="Telefono"></i>
                                </button>
                            </li>
                            <li class="list-inline-item" *ngIf="(persona.celular != '' && persona.celular != null)">
                                <button type="button" class="btn btn-outline-secondary btn-margin-left" ngbTooltip="{{persona.celular}}">
                                    <span class="oi oi-phone" title="Celular" aria-hidden="true"></span>
                                </button>
                            </li>
                        </ul> -->
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
