<ngb-tabset type="tabs" [justify]="'start'">
    <ngb-tab *ngFor="let recurso of recursos">
      <ng-template ngbTabTitle>{{recurso.programa}} <span class='badge badge-info'>{{recurso.recurso_cantidad}}</span></ng-template>
        <ng-template  ngbTabContent >
            <div class="card border-light p-2" *ngFor="let prestacion of recurso.recurso">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <span class="d-flex align-items-center">Alta: {{ prestacion.fecha_alta | date:'dd/MM/yyyy' }}</span>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <dl class="row">
                        <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Tipo prestación:</dt>
                        <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{prestacion.tipo_recurso}}</dd>
                      </dl>
                    </div>
                    <div class="col-md-4">
                      <dl class="row">
                        <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Proposito:</dt>
                        <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{prestacion.proposito}}</dd>
                      </dl>
                    </div>
                    <div class="col-md-4">
                      <dl class="row">
                        <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Monto:</dt>
                        <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{prestacion.monto}}</dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <dl class="row">
                        <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Fecha de acreditación:</dt>
                        <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{prestacion.fecha_acreditacion | date:'dd/MM/yyyy'}}</dd>
                      </dl>
                    </div>
                    <div class="col-md-4">
                      <dl class="row">
                        <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Fecha de baja:</dt>
                        <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{prestacion.fecha_baja | date:'dd/MM/yyyy'}}</dd>
                      </dl>
                    </div>
                    <div class="col-md-4">
                      <dl class="row">
                        <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Descripción baja:</dt>
                        <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{prestacion.descripcion_baja}}</dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <dl class="row">
                      <dt class="col-2 col-sm-2 col-md-2 col-lg-2" style="margin-left: 0.8rem;">Observación:</dt>
                      <dd class="col-3 col-sm-9 col-md-9 col-lg-9">{{prestacion.observacion}}</dd>
                    </dl>
                  </div>
                </div>
                <div class="d-flex justify-content-between" *ngIf="(prestacion.alumno_lista !== undefined)">
                  <div class="col-4 pt-1"><hr></div>
                  <div class="col-4 text-center"><h3><small class="text-muted">Alumnos</small></h3></div>
                  <div class="col-4 pt-1"><hr></div>
                </div>
                <shared-lista-persona *ngIf="(prestacion.alumno_lista !== undefined)" [personas]="prestacion.alumno_lista" [mostrar]="false"></shared-lista-persona>
              </div>
        </ng-template>
    </ngb-tab>
  </ngb-tabset>
