<div class="d-flex flex-row-reverse">
  <h2>Crear prestación</h2>
</div>
<div class="mb-3 bg-white  p-3 rounded">
  <div class="d-flex justify-content-between">
    <div class="col-5 pt-1"><hr></div>
    <div class="col-2 text-center"><h3><small class="text-muted">Beneficiario</small></h3></div>
    <div class="col-5 pt-1"><hr></div>
  </div>

    <div class="row" *ngIf="infoPersona">
      <div class="col-12 pr-0 col-vista-beneficiario-mw">
        <shared-vista-info-persona  [persona]="datosPersona" [mostrarBoton]="false" ></shared-vista-info-persona>
      </div>
      <div class="col-1 pr-0 pl-0 col-btn-mw">
        <div class="btn-group-vertical">
          <modal-form-persona-component class="btn-group" ngbTooltip="Editar beneficiario" [configModal]="configModal" [disenioBoton]="configBotonModal" (obtenerPersona)="personaEditada($event)" [personaid]="datosPersona['id']" ></modal-form-persona-component>
          <button type="button" class="btn btn-md btn-info btn-altura" ngbTooltip="Cambiar beneficiario" (click)="cambiarPersona()"><i class="fas fa-sync"></i></button>
        </div>
      </div>
    </div>
  <shared-buscar-persona *ngIf="!(infoPersona)" (personaElegida)="seleccionarPersona($event)"></shared-buscar-persona>


  <shared-form-contacto *ngIf="infoPersona" [formContacto]="contactosForm.get('contacto')"></shared-form-contacto>

</div>
<shared-form-recurso [programaid]="programaid" [personaid]="datosPersona['id']" (obtenerDatos)="guardar($event)" (cancelar)="cancelar($event)" ></shared-form-recurso>
