<div class="d-flex justify-content-between">
  <div class="col-5 pt-1"><hr></div>
  <div class="col-2 text-center"><h3><small class="text-muted">Grupo Familiar</small></h3></div>
  <div class="col-5 pt-1"><hr></div>
</div>
<table class="table table-hover table-sm">
  <thead>
    <th scope="col">Nro Documento</th>
    <th scope="col" colspan="2">Apellido, Nombre</th>
    <th scope="col">Fecha Nacimiento</th>
    <th scope="col" class="text-center">
      <modal-grupo-familiar-component (obtenerGrupoFamiliar)="agregarMiembro($event)"></modal-grupo-familiar-component>
    </th>
  </thead>
  <tbody *ngIf="(listadoGrupoFamiliar.length == 0)">
    <tr>
      <td rowspan="1" colspan="5" class="text-center"><h5>No se ha asignado ningun miembro del grupo familiar</h5></td>
    </tr>
  </tbody>
  <tbody *ngIf="(listadoGrupoFamiliar.length > 0)">
    <tr *ngFor="let grupo of listadoGrupoFamiliar; let i = index">
      <td scope="col">{{grupo.nro_documento}}</td>
      <td scope="col" colspan="2">{{grupo.apellido}}, {{grupo.nombre}}</td>
      <td scope="col">{{grupo.fecha_nacimiento | date:'dd/MM/yyyy'}}</td>
      <td scope="col" class="text-center">
        <modal-borrar-miembro-grupo-familiar-component (borrarMiembroGrupoFamiliar)="borrar(i, $event)"></modal-borrar-miembro-grupo-familiar-component>
      </td>
    </tr>
  </tbody>
</table>
