<table class="table table-hover table-sm">
    <thead>
      <th scope="col">Perfil</th>
      <th scope="col">Tipo Red Social</th>
      <th scope="col" class="text-center">
          <modal-red-social-component></modal-red-social-component>
      </th>
    </thead>
    <tbody>
      <tr>
        <td scope="col">cep11p</td>
        <td scope="col">Facebook</td>
        <td scope="col" class="text-center"><button class="btn btn-sm btn-danger" ><i class="fa fa-close"></i></button></td>
      </tr>
    </tbody>
  </table>
