<div class="row d-flex justify-content-end font-weight-bold">
    <span ngbTooltip="Monto Total" container="body">
      MT: $20.000,00
    </span>
    &nbsp;|&nbsp;
    <span ngbTooltip="Monto acreditado" container="body" class="text-success">
      MA: $15.000,00
    </span>
</div>
<div class="row">
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="text-center" scope="col">N° Cuota</th>
        <th class="text-center" scope="col">Fecha Acreditación</th>
        <th class="text-right" scope="col">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-center" scope="row">1</th>
        <td class="text-center">20/01/2021</td>
        <td class="text-right">5.000,00</td>
      </tr>
      <tr>
        <th class="text-center" scope="row">2</th>
        <td class="text-center">20/02/2021</td>
        <td class="text-right">5.000,00</td>
      </tr>
      <tr>
        <th class="text-center" scope="row">3</th>
        <td class="text-center">20/03/2021</td>
        <td class="text-right">5.000,00</td>
      </tr>
      <!-- <tr class="table-success">
        <td class="text-left" rowspan="1" colspan="2"><strong>Monto Total Acreditado:</strong></td>
        <td class="text-right" >15.000,00</td>
      </tr>
      <tr class="table-secondary">
        <td class="text-left" rowspan="1" colspan="2"><strong>Monto Restante:</strong></td>
        <td class="text-right" >5.000,00</td>
      </tr> -->
    </tbody>
  </table>
</div>
