<div class="row pl-3 pr-3">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Nro. Documento</th>
          <th scope="col">Apellido y nombre</th>
          <th class="text-center" scope="col">Dirección / Contacto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="(personas.length == 0)">
        <tr>
          <td class="text-center" rowspan="1" colspan="4"><h5>No hay personas agregadas.</h5></td>
        </tr>
      </tbody>
      <tbody *ngIf="(personas.length > 0)">
        <tr *ngFor="let persona of personas">
          <td scope="row">{{persona.nro_documento}}</td>
          <td >{{persona.apellido}}, {{persona.nombre}}</td>
          <td class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-light"><i class="fas fa-home"></i></button>
              <button type="button" class="btn btn-sm btn-light"><i class="fas fa-phone"></i></button>
              <button type="button" class="btn btn-sm btn-light"><i class="fas fa-mobile-alt"></i></button>
              <button type="button" class="btn btn-sm btn-light"><i class="fas fa-envelope"></i></button>
              <button type="button" class="btn btn-sm btn-light"><i class="fas fa-users"></i></button>
            </div>
          </td>
          <td class="text-center">sel</td>
        </tr>
      </tbody>
      </table>
  </div>
