<div class="row d-flex justify-content-end font-weight-bold">
    <span ngbTooltip="Monto Total" container="body">
      MT: {{montoTotal | currency:'USD':'symbol-narrow':'2.2'}}
    </span>
    &nbsp;|&nbsp;
    <span ngbTooltip="Monto total acreditado" container="body" class="text-success">
      MTA: {{montoAcreditado | currency:'USD':'symbol-narrow':'2.2'}}
    </span>
</div>
<div class="row">
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="text-center" scope="col">N° Cuota</th>
        <th class="text-center" scope="col">Fecha Acreditación</th>
        <th class="text-center" scope="col">Monto</th>
        <th class="ancho-fijo-tabla"></th>
      </tr>
    </thead>
    <tbody *ngIf="(cuotaLista.length > 0)">
      <tr *ngFor="let cuota of cuotaLista; let i = index;" >
        <th class="text-center" scope="row">{{i + 1}}</th>
        <td class="text-center">{{cuota.fecha_pago | date:'dd/MM/yyyy'}}</td>
        <td class="text-center">{{cuota.monto | currency:'USD':'symbol-narrow':'2.2'}}</td>
        <td class="ancho-fijo-tabla"><shared-modal-borrar-cuota *ngIf="cuota.borrar" (confirmarBorrado)="borrarCuota($event, cuota.id)"></shared-modal-borrar-cuota></td>
      </tr>
    </tbody>
  </table>
</div>
